<div class="jumbotron-bg text-center">
  <div class="container">
    <h1 class="display-3">Capture a Perfeição</h1>
    <p class="lead">Eleve sua fotografia para o próximo nível. Armazene, edite e compartilhe seus momentos com a melhor qualidade.</p>
    <a href="#planos" class="btn btn-primary btn-lg btn-custom mt-3">Comece Agora</a>
    <a href="#" class="btn btn-outline-light btn-lg btn-custom mt-3 ms-2">Saiba Mais</a>
  </div>
</div>